#loginRegister  ::ng-deep .mat-tab-labels {
  justify-content: center !important;
}

#loginRegister ::ng-deep .mat-tab-body-wrapper {
  margin: 0 auto;
}

#loginRegister ::ng-deep .mat-tab-body {
  text-align: center;
  min-width: 1000px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.width--50 {
  width: 50%;
}
