<mat-toolbar color="warn">
  <span>Application</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
    <mat-icon class="icon--center">recent_actors</mat-icon>
    <span>Login/Register</span>
  </span>

</mat-toolbar>

<!--<nav class="navbar navbar-dark fixed-top bg-dark justify-content-between">
  &lt;!&ndash; Navbar content &ndash;&gt;
  <a class="navbar-brand" href="#">Application</a>

  <form class="form-inline">
    <button class="btn btn-outline-light" type="text">
      <div style="align-items: center; display: flex;">
        <i class="material-icons pr-2">people_outline</i>
        <span>Login/Register</span>
      </div>
    </button>
  </form>
</nav>-->
