<mat-toolbar color="warn" *ngIf="(currentUser$ | async) as currentUser">
  <span routerLink="/">Application</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span *ngIf="!currentUser.isUserAuthorized()">
    <span [routerLink]="routerPath.login">
      <mat-icon class="icon--center">recent_actors</mat-icon>
      Login/Register
    </span>
  </span>

  <span *ngIf="currentUser.isUserAuthorized()" >
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_box</mat-icon>
      {{currentUser.name}} ( {{currentUser.id}} )
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item [routerLink]="routerPath.settings">
        <mat-icon>settings</mat-icon>
        Settings
      </button>

      <button mat-menu-item>
        <mat-icon>hotel</mat-icon>
        Logout
      </button>
    </mat-menu>

  </span>

</mat-toolbar>
