<mat-card class="form-container" id="customTab">
  <form [formGroup]="tabForm">

    <mat-form-field class="width--50">
      <input
        matInput
        formControlName="firstInput"
        placeholder="{{tabOption.firstInputPlaceholder}}">
      <mat-error *ngIf="tabForm.controls.firstInput.invalid">
        {{tabOption.firstInputErrors(tabForm.controls.firstInput.errors)}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="width--50">
      <input
        matInput
        formControlName="secondInput"
        placeholder="{{tabOption.secondInputPlaceholder}}">
      <mat-error *ngIf="tabForm.controls.secondInput.invalid">
        {{tabOption.secondInputErrors(tabForm.controls.secondInput.errors)}}
      </mat-error>
    </mat-form-field>

    <div>
      <button
        mat-button
        [ngClass]="tabOption.submitButtonStyle"
        (click)="submitTab()">
        {{tabOption.submitButtonName}}
      </button>
    </div>

  </form>
</mat-card>

