.column {
  flex: 0 1 auto;
}

.column--rank {
  flex-basis: 6% !important;
}

.column--rank--text {
  flex-basis: 6% !important;
}

.column--name {
  flex-basis: 15% !important;
}

.column--name--text {
  flex-basis: 15% !important;
}

.column--marketCap {
  flex-basis: 15% !important;
}

.column--price {
  flex-basis: 15% !important;
}

.column--binance {
  flex-basis: 15% !important;
}

.column--binance--text {
  flex-basis: 15% !important;
}

.column--priceChange {
  flex-basis: 15% !important;
}

.column--priceChange--afterBinance {
  flex-basis: 5% !important;
}

.column--text {
  flex-basis: 15% !important;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.img--border {
  vertical-align: middle;
  border: 1px solid grey;
}

.image--stub {
  min-height: 48px;
}

.pt--10 {
  padding-top: 10px;
}

.pb--10 {
  padding-bottom: 10px;
}
