<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rank}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span>{{element.name}} / </span>
        <span>{{element.symbol}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="market_cap_usd">
      <mat-header-cell *matHeaderCellDef> Market Cap </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.market_cap_usd}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price_usd">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price_usd}} </mat-cell>
    </ng-container>

    <ng-container *ngIf="isUserAuthorized()" matColumnDef="isOnBinance">
      <mat-header-cell *matHeaderCellDef> Binance </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isOnBinance}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="percent_change_24h">
      <mat-header-cell *matHeaderCellDef> Change (24h) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.percent_change_24h}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="imageSrc">
      <mat-header-cell *matHeaderCellDef> Price (7d) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.imageSrc}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
    <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
  </mat-table>
</div>


<!--<div *ngFor="let item of currencyList$ | async">
    {{item.name}}
</div>-->
